[submodule "crm"]
	path = crm
	url = git@github.com:oroinc/crm-application.git
[submodule "marello"]
	path = marello
	url = git@github.com:marellocommerce/marello-application.git
[submodule "akeneo"]
	path = akeneo
	url = git@github.com:akeneo/pim-community-standard.git
[submodule "flyimg"]
	path = flyimg
	url = git@github.com:opengento/flyimg-akeneo.git
