$topBarHeight: 11em;
$menuHeight: 3em;
$headerHeight: $topBarHeight + $menuHeight;
$footerHeight: 7em;

@mixin horizontal-spacing() {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (min-width: $tablet) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@mixin page-height($variant: 0px) {
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight} - #{$variant});
}
