.product-item {
  background-color: $white;
  padding: 1em;
  box-shadow: 1px 0px 20px $brandSecondary;
  a {
    text-decoration: none;
    height: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}
